/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

 /* Normalize by hand */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

.route- {
    background-color: yellow;
}

/* Container */
.wrap-all {
    max-width: 1120px;
    margin: 0 auto;
    padding: 10px;
    background-color: orange;
}

.outer-wrap {
    width: 100%;
}

/* Header */
.outer-wrap-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.site-logo,
.site-logo-text {
    display: none;
}


.my-navbar {
    list-style-type: none;
}

.my-navbar li {
    display: inline;
    padding: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Main */
.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-left: 10px;
}

.article {
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: auto;
}

.author-byline {
    padding: 10px;
    border: 2px solid black;
}

.block {
    padding-top: 10px;
}

/* Footer */
.region-footer>.block {
    padding-top: 30px;
    width: 100%;
    text-align: center;
}
.columns {
    margin: auto;
}

.footer-column {
    width: 32%;
    margin-top: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 5px;
    border: 2px solid black;
    position: relative;
    display:inline-block;
}
